*{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;

}
.container_box  {
    margin: 0;

    width: 100vw;
}



.header{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: burlywood;
}

#createAnEvent{
    color: rebeccapurple;
    font-size: 16px;
    font-weight: bold;
    text-decoration: unset;
    text-transform: uppercase;
}

.header_links {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.header_links a {
    color: grey;
    font-size: 18px;
}

.hero-page {
    background-image: linear-gradient(
            to bottom,
            rgba(104, 98, 102, 0.52),
            rgba(17, 17, 17, 0.73)
    ),
    url("https://cdn.evbstatic.com/s3-build/fe/build/images/e148f1c19253be5aca39686e45d7e3b2-3_web_1919x543.jpg");
    height: 55vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.hero-page button {
    border: unset;
    padding: 10px;
    border-radius: 3px;
    background-color: red;
    position: absolute;
    color: rgb(52, 0, 0);
    /* border: 1px solid black; */
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 25px;
    font-weight: bold;
}


.ad-container {
    background-color: rgb(52, 0, 87);
    width: 70vw;
    min-height: 10vh;
    padding: 10px 10px;
    border-left: 6px solid #f05537;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.ad-container p {
    font-size: 12px;
    color: rgb(200, 200, 200);
    margin: 1px;
}
.ad-container h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.ad-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 30vh;
    border: 1px solid black;
    flex-direction: column;
    margin-top: 15px;
}

.popular-section {
    margin-top: 20px;
    display: flex;
    align-items: end;
    width: 70vw;
}

.popular-section h2{
    color: rgb(52, 0, 87);
    margin: 0;

}
.header-icon {
    position: relative;
    top: 4px;
}
.popular-input {
    border: unset;
    border-bottom: 1px solid #000000;
    position: relative;
    bottom: 6px;
    left: 20px;
}
.svg {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    color: blue;
}

.menu {
    margin-top: 15px;
    display: flex;
    width: 70vw;
    justify-content: space-between;


}
.menu button {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: transparent;
    border: unset;
    padding: 10px 0;
    border-bottom: 2px solid transparent;

}
.menu button:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(204, 23, 23);

}
.menu button:focus{
    color: rgb(60, 0, 156);
    border-bottom: 2px solid rgb(60, 0, 156);
}



.new-button {
    position: relative;
}

.new-button span{
    position: absolute;
    left: 40px;
    bottom: 30px;
}

.new-button span div {
    background-color: green;
    border-radius: 30px;
    padding: 2px 10px;
    color: white;
    font-size: 12px;
}
.apply {
    color: red;
    border-radius: 23px;
}

.events-container {
    margin-top: 20px;
    width: 70vw;
}
.events-container h2{
    color: rgb(0, 0, 0);
    margin: 0;
}

.card {
    cursor: pointer;
    height: 60vh;
    border-radius: 5px;
    width: 30%;
    margin-right: 30px;
}
.card:hover{
    box-shadow: 5px 5px 7px 2px #d4d4d4;
}
.card-container {
    display: flex;
    width: 100%;
    margin-top: 30px;

}
.card-image-container {
    width: 100%;
    height: 20vh;
    position: relative;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-container button {
    border-radius: 50%;
    border: 1px solid gray;
    height: 35px;
    width: 35px;
    padding: 10px;
    position: absolute;
    right: 15px;
    bottom: -10px;

}
.card-information {
    padding: 15px;
}
.card-information h3 {
    color: #000;
}
.card-information p {
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: bold;


}
.card-information h6 {
    color: gray;
    font-size: 13px;
    margin-top: 5px
}
.card-owner {
    margin-top: 10px;
}
.card-owner p {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;

}

.card-owner div {
    display: flex;
    align-items: center;
}




.card2 {
    cursor: pointer;
    height: 60vh;
    border-radius: 5px;
    width: 30%;
}
.card2:hover{
    box-shadow: 5px 5px 7px 2px #d4d4d4;
}
.card-container2 {
    display: flex;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 30px;
}
.card-image-container2 {
    width: 100%;
    height: 20vh;
    position: relative;
}

.card-image-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-container2 button {
    border-radius: 50%;
    border: 1px solid gray;
    height: 35px;
    width: 35px;
    padding: 10px;
    position: absolute;
    right: 15px;
    bottom: -10px;

}
.card-information2 {
    padding: 15px;
}
.card-information2 h3 {
    color: #000;
}
.card-information2 p {
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: bold;


}
.card-information2 h6 {
    color: gray;
    font-size: 13px;
    margin-top: 5px
}
.card-owner2 {
    margin-top: 10px;
}
.card-owner2 p {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
}

.card-owner2 div {
    display: flex;
    align-items: center;
}
